# {{ ansible_managed }}
[Unit]
Description=uWSGI instance to serve multinet
After=network.target

[Service]
Type=simple
User={{ ansible_user_id }}
Group={{ ansible_user_id }}
WorkingDirectory={{ multinet_server_path }}
ExecStart=/usr/local/bin/pipenv run uwsgi --ini multinet/app.ini
ExecStop=/bin/kill -INT $MAINPID
KillSignal=SIGQUIT

[Install]
WantedBy=multi-user.target
